<html>
  <body>
    <header ng-include="'./components/templates/staff/header.html'"></header>
    <div class="card text-white bg-secondary mb-3" id="template">
      <div class="display-3" id="login">
        <h4>Welcome {{user}}</h4>
        <h4>Change Password Here</h4>
      </div>
      <form id="myform" name="loginForm">
        <div class="form-group">
          <label for="exampleInputPassword">Choose New Password</label>
          <input type="password" class="form-control" style="height:35px" placeholder="Password"  ng-model="newPassword" required>
        </div>
        <div ng-show="loginForm.Password.$touched && loginForm.Password.$invalid"></div>
        <span id="message"></span>
        <button type="submit" class="btn btn-primary" style="height:35px;" id="loginBtn" ng-disabled="loginForm.$invalid" ng-click="staffChangePass()">Change Password</button>
      </form>
    </div>
  </body>
  </head>
</html>
