<h1>Electronic Medical Records in Sri Lanka</h1>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;" id="loginDiv">
  <div class="card-header">
    <img src="./components/images/docter.svg" class="docimg">
    <button type="submit" class="doctor" ng-click="doctorLogin()">Doctor Login</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;" id="Login" >
  <div class="card-header">
    <img src="./components/images/staff.svg" class="docimg">
    <button type="submit" class="doctor" ng-click="staffLogin()">Staff Login</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;" id="Login" >
  <div class="card-header">
    <img src="./components/images/admin.svg" class="docimg">
    <button type="submit" class="doctor" ng-click="adminLogin()">Admin Login</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;" id="Login">
  <div class="card-header">
    <img src="./components/images/management.svg" class="docimg">
    <button type="submit" class="doctor" ng-click="managementLogin()">Management Login</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;" id="Login">
  <div class="card-header">
    <img src="./components/images/pharmacy.svg" class="docimg">
    <button type="submit" class="doctor" ng-click="pharmacyLogin()">Pharmacy Login</button>
  </div>
</div>
<div class="card text-white bg-secondary mb-3" style="max-width: 20rem;" id="Login">
  <div class="card-header">
    <img src="./components/images/lab.svg" class="docimg">
    <button type="submit" class="doctor" ng-click="labLogin()">Laboratory Login</button>
  </div>
</div>
