<div class="card text-white bg-secondary mb-3" id="template">
  <div class="display-3" id="login">
    <img src="./components/images/staff.svg" class="img">
    <h4>Staff Login</h4>
  </div>
  <form id="myform" name="loginForm">
    <div class="form-group">
    	<label for="exampleInputEmail1">Username</label>
    	<input type="text" class="form-control" placeholder="Enter Username" ng-model="Username" required>
    </div>
    <div ng-show="loginForm.Username.$touched && loginForm.Username.$invalid"></div>
    <div class="form-group">
      <label for="exampleInputPassword">Password</label>
      <input type="password" class="form-control" placeholder="Password"  ng-model="Password" required>
    </div>
    <div ng-show="loginForm.Password.$touched && loginForm.Password.$invalid"></div>
    <span id="message"></span>
    <button type="submit" class="btn btn-primary" id="loginBtn" ng-disabled="loginForm.$invalid" ng-click="stafflogin()">Login</button>
  </form>
</div>
