<html>
  <head>
    <style>
        #registerTemplate
        {
          width: 750px;
          height: auto;
          margin: 20px auto;
          border-radius: 10px;
          padding: 0 50px;
          padding-bottom: 30px;
          background-color: transparent;
        }
        #search
        {
          width:250px;
          float: left;
          margin-left: 150px;
        }
        #doctorSearchBtn
        {
          margin-left:50px;
          height: 35px;
        }
        #doc{
          margin-top: 20px;
          color: #2c3e50;
        }
        h4{
          color: #bdc3c7;
          margin-bottom: 50px;
        }
        #data
        {
          color:  #2c3e50;
        }
        .form-control
        {
          height: 35px;
        }
        #details
        {
          font-weight: 700;
        }
        h5{
          color: #2f3640;
          margin-top: 20px;
        }
    </style>
  <body>
    <div class="card text-white bg-secondary mb-3" id="registerTemplate" style="width:350px; margin-bottom: 20px;">
      <form ng-submit="submit()" name="form" role="form">
        <img ng-src="{{image_source}}" style="width:250px; height:200px; margin-left: 10px; margin-top: 40px;"><br><br>
        <input ng-model="form.image" type="file" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)" style="width:400px; margin-left: 10px;"><br><br>
	      <input type="submit" id="submit" value="Submit" class="btn btn-primary" style="margin-left: 80px"/>
	      </form>
      </div>
      <div class="card text-white bg-secondary mb-3" id="registerTemplate" ng-if="users" style="margin-top: -10px;">
        <h5><b>User Profile</b></h5>
        <hr>
        <div>
          <img ng-src="{{users.Image}}" style="width:250px; height:200px; margin-left:200px;"><br><br>
        </div>
        <h5><b>Personal Information</b></h5>
        <hr>
        <div class="form-group" id="line1">
          <label for="exampleInputPassword"><b><span id="details">Full Name: </span>{{users.Name}}</b></label>
          <label for="exampleInputPassword" style="float:right; margin-right: 100px;"><b><span id="details">Age: </span>{{users.Age}}</b></label>
        </div>
        <div class="form-group" id="line1">
          <label for="exampleInputPassword"><b><span id="details">Blood Group: </span>{{users.Blood}}</b></label>
          <label for="exampleInputPassword" style="float:right; margin-right: 100px;"><b><span id="details">Gender: </span>{{users.Gender}}</b></label>
        </div>
        <div class="form-group" id="line1" >
          <label for="exampleInputEmail1"><b><span id="details">Address: </span>{{users.Address}}</b></label>
          <label for="exampleInputPassword" style="float:right; margin-right: 100px;"><b><span id="details">Mobile Number: </span>{{users.Mobile}}</b></label>
        </div>
        <h5><b>Family Information</b></h5>
        <hr>
        <div class="form-group" id="line1">
          <label for="exampleInputEmail1"><b><span id="details">Name: </span>{{users.FamilyName1}}</b></label>
          <label for="exampleInputPassword" style="float:right; margin-right: 100px;"><b><span id="details" >ID (Given ID by Hospital): </span>{{users.FamilyId1}}</b></label>
        </div>
        <div class="form-group" id="line1">
          <label for="exampleInputEmail1"><b><span id="details">Name: </span>{{users.FamilyName2}}</b></label>
          <label for="exampleInputPassword" style="float:right; margin-right: 100px;"><b><span id="details" >ID (Given ID by Hospital): </span>{{users.FamilyId2}}</b></label>
        </div>
        <h5><b>Emergancy Information (If happen Emergancy Situation)</b></h5>
        <hr>
        <div class="form-group" id="line1">
            <label for="exampleInputEmail1"><b><span id="details">Name: </span>{{users.EmergancyName}}</b></label>
          <label for="exampleInputPassword" style="float:right; margin-right: 100px;"><b><span id="details">Mobile Number: </span>{{users.EmergancyNumber}}</b></label>
        </div>
        <h5><b>Account Information</b></h5>
        <hr>
        <div class="form-group" id="line1">
            <label for="exampleInputEmail1"><b><span id="details">Username: </span>{{users.Username}}</b></label>
            <label for="exampleInputPassword" style="float:right; margin-right: 100px;"><b><span id="details">Patient ID: </span>{{users.Id}}</b></label>
        </div>
        <div>
          <h5><b>Medical Records</b></h5>
          <hr>
          <button type="submit" class="btn btn-success" id="doctorSearchBtn" ng-click="addPrescription()" style="margin-left: 5px;">Add New Prescription</button>
          <button type="submit" class="btn btn-success" id="doctorSearchBtn" ng-click="updatePrescription()" style="margin-left: 5px;">Update Prescription</button>
          <div ng-repeat="y in medical"  ng-if="medical" id="registerTemplate" class="card text-white bg-secondary mb-3" style="margin-left: -40px; width: 730px; border-width: 2px;">
            <div class="form-group" id="row1" style="margin-top: 10px;">
              <label for="exampleInputPassword"><b><span id="details">Prescription ID: </span>{{y.prescriptionID}}</b></label>
              <label for="exampleInputPassword" style="margin-left: 100px;"><b><span id="details">Date: </span>{{y.Date}}</b></label>
              <label for="exampleInputPassword" style="margin-left: 100px;"><b><span id="details">Desease: </span>{{y.Desease}}</b></label>
            </div>
            <div class="form-group" id="row1">
              <label for="exampleInputPassword"><b><span id="details">Drug 1: </span>{{y.drug1}}</b></label>
              <label for="exampleInputPassword" style="margin-right: 300px; float: right;"><b><span id="details">Quantity: </span>{{y.quantity1}}</b></label>
            </div>
            <div class="form-group" id="row1">
              <label for="exampleInputPassword"><b><span id="details">Drug 2: </span>{{y.drug2}}</b></label>
              <label for="exampleInputPassword"  style="margin-right: 300px; float: right;"><b><span id="details">Quantity: </span>{{y.quantity2}}</b></label>
            </div>
            <div class="form-group" id="row1" >
              <label for="exampleInputPassword"><b><span id="details">Drug 3: </span>{{y.drug3}}</b></label>
              <label for="exampleInputPassword"  style="margin-right: 300px; float: right;"><b><span id="details">Quantity: </span>{{y.quantity3}}</b></label>
            </div>
            <div class="form-group" id="row1">
              <label for="exampleInputPassword"><b><span id="details">Drug 4: </span>{{y.drug4}}</b></label>
              <label for="exampleInputPassword"  style="margin-right: 300px; float: right;"><b><span id="details">Quantity: </span>{{y.quantity4}}</b></label>
            </div>
            <div class="form-group" id="row1">
              <label for="exampleInputPassword"><b><span id="details">Drug 5: </span>{{y.drug5}}</b></label>
              <label for="exampleInputPassword"  style="margin-right: 300px; float: right;"><b><span id="details">Quantity: </span>{{y.quantity5}}</b></label>
            </div>
          </div>
        </div>
        <div ng-if="reports">
          <h5><b>Medical Reports</b></h5>
          <hr>
        </div>
      </div>
  </body>
  </head>
</html>
